In [7]:
import numpy as np                     # It provides support for large, multi-dimensional arrays and matrices, along with a collection of mathematical functions to operate on these arrays.
import pandas as pd                   #It provides data structures for efficiently storing and manipulating large datasets, as well as tools for reading and writing data in various formats.eg-Input and output
import matplotlib.pyplot as plt       #It is a comprehensive 2D plotting library for Python that produces high-quality static, animated, and interactive visualizations. 
%matplotlib inline            
import numpy as np
import seaborn as sns                  #Seaborn is a statistical data visualization library in Python based on matplotlib. It provides a high-level interface for creating informative and attractive statistical graphics.

In [36]:
claims=pd.read_csv(r'/home/akshatgupta/notebook/jupyterenv/claims.csv',encoding='unicode_escape')

In [43]:
cust=pd.read_csv(r'/home/akshatgupta/notebook/jupyterenv/cust_demographics.csv',encoding='unicode_escape')

In [46]:
cust.shape

(1085, 6)

In [47]:
claims.shape                        #no .of rows and column

(1100, 10)

In [59]:
# Merge the datasets on 'customer_id'
merged_data = pd.merge(claims, cust,left_on=['customer_id'], right_on=['CUST_ID'], how='inner')

In [61]:
merged_data.head(2)                          #element details

,claim_id,customer_id,incident_cause,claim_date,claim_area,police_report,claim_type,claim_amount,total_policy_claims,fraudulent,CUST_ID,gender,DateOfBirth,State,Contact,Segment
0,54004764,21868593,Driver error,11/27/2017,Auto,No,Material only,$2980,1.0,No,21868593,Female,12-Jan-79,VT,789-916-8172,Platinum
1,33985796,75740424,Crime,10/03/2018,Home,Unknown,Material only,$2980,3.0,No,75740424,Female,13-Jan-70,ME,265-543-1264,Silver

In [62]:
merged_data.info()                            #tell us about table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   claim_id             1085 non-null   int64
 1   customer_id          1085 non-null   int64
 2   incident_cause       1085 non-null   object
 3   claim_date           1085 non-null   object
 4   claim_area           1085 non-null   object
 5   police_report        1085 non-null   object
 6   claim_type           1085 non-null   object
 7   claim_amount         1020 non-null   object
 8   total_policy_claims  1075 non-null   float64
 9   fraudulent           1085 non-null   object
 10  CUST_ID              1085 non-null   int64
 11  gender               1085 non-null   object
 12  DateOfBirth          1085 non-null   object
 13  State                1085 non-null   object
 14  Contact              1085 non-null   object
 15  Segment              1085 non-null   object
dtypes: float64(1), int64(3), object(12)
memory usage: 135.8+ KB

In [26]:
# pd.isnull(merged_data)                   #tell us null valuee those value is true that value is null and those value is false so those value is true.

In [64]:
# pd.isnull(merged_data).sum()                    #tell us total sum of null value coming

In [28]:
# merged_data.dropna(inplace=True)       #delete those rows which shows any one of column is null implace update the list at the moment afterr editing

In [29]:
# merged_data.shape

In [30]:
# pd.isnull(merged_data).sum()

In [71]:
datatype_audit = merged_data.dtypes                   #store dataTypes
print(datatype_audit)

claim_id                 int64
customer_id              int64
incident_cause          object
claim_date              object
claim_area              object
police_report           object
claim_type              object
claim_amount            object
total_policy_claims    float64
fraudulent              object
CUST_ID                  int64
gender                  object
DateOfBirth             object
State                   object
Contact                 object
Segment                 object
dtype: object

In [72]:
merged_data['claim_amount'] = pd.to_numeric(merged_data['claim_amount'].str.replace('$', ''), errors='coerce')  #if any nonnumeric value come then error didi not come in place of non numeric number we wrote NAN with the help of coerce error

In [74]:
datatype_audit = merged_data.dtypes                   #store dataTypes
print(datatype_audit)

claim_id                 int64
customer_id              int64
incident_cause          object
claim_date              object
claim_area              object
police_report           object
claim_type              object
claim_amount           float64
total_policy_claims    float64
fraudulent              object
CUST_ID                  int64
gender                  object
DateOfBirth             object
State                   object
Contact                 object
Segment                 object
dtype: object

In [80]:
merged_data.head(1)

,claim_id,customer_id,incident_cause,claim_date,claim_area,police_report,claim_type,claim_amount,total_policy_claims,fraudulent,CUST_ID,gender,DateOfBirth,State,Contact,Segment
0,54004764,21868593,Driver error,11/27/2017,Auto,No,Material only,2980.0,1.0,No,21868593,Female,12-Jan-79,VT,789-916-8172,Platinum

In [86]:
# Assuming 'police_report' is the column indicating whether a claim is reported to the police
# Create an 'alert' column (1 for 'No' or 'Unknown', 0 for 'Yes')
merged_data['alert'] = merged_data['police_report'].apply(lambda x: 0 if x.lower() in ['yes'] else 1)

# Display the updated DataFrame
merged_data.head(20)

,claim_id,customer_id,incident_cause,claim_date,claim_area,police_report,claim_type,claim_amount,total_policy_claims,fraudulent,CUST_ID,gender,DateOfBirth,State,Contact,Segment,alert
0,54004764,21868593,Driver error,11/27/2017,Auto,No,Material only,2980.0,1.0,No,21868593,Female,12-Jan-79,VT,789-916-8172,Platinum,1
1,33985796,75740424,Crime,10/03/2018,Home,Unknown,Material only,2980.0,3.0,No,75740424,Female,13-Jan-70,ME,265-543-1264,Silver,1
2,53522022,30308357,Other driver error,02/02/2018,Auto,No,Material only,3369.5,1.0,Yes,30308357,Female,11-Mar-84,TN,798-631-4758,Silver,1
3,63017412,30308357,Driver error,04/04/2018,Auto,No,Material only,1950.0,6.0,No,30308357,Female,11-Mar-84,TN,798-631-4758,Silver,1
4,13015401,47830476,Natural causes,06/17/2018,Auto,No,Material only,1680.0,1.0,No,47830476,Female,01-May-86,MA,413-187-7945,Silver,1
5,91609100,47830476,Natural causes,04/12/2017,Auto,Unknown,Material only,1440.0,1.0,No,47830476,Female,01-May-86,MA,413-187-7945,Silver,1
6,22890252,19269962,Crime,01/13/2018,Auto,No,Material only,2680.0,1.0,No,19269962,Male,13-May-77,NV,956-871-8691,Gold,1
7,39219616,19269962,Other causes,09/26/2018,Auto,No,Material only,2240.0,2.0,No,19269962,Male,13-May-77,NV,956-871-8691,Gold,1
8,24050443,21831191,Other driver error,10/04/2017,Auto,No,Injury only,38306.5,3.0,Yes,21831191,Male,17-May-77,NH,419-712-8513,Gold,1
9,91475471,21831191,Driver error,02/09/2018,Auto,Unknown,Material and injury,36810.0,1.0,No,21831191,Male,17-May-77,NH,419-712-8513,Gold,1
10,12878692,18401412,Driver error,01/13/2018,Auto,No,Material only,1730.0,4.0,No,18401412,Male,02-Mar-99,AR,752-398-2914,Gold,1
11,27026412,73486606,Natural causes,04/10/2018,Auto,No,Material only,1160.0,3.0,No,73486606,Male,25-Oct-99,AK,256-968-9172,Silver,1
12,43908336,32813689,Crime,02/15/2018,Auto,Unknown,Material only,2620.0,1.0,No,32813689,Male,12-Oct-93,ID,142-324-7481,Silver,1
13,63246959,33507197,Crime,07/22/2017,Auto,No,Material only,2748.5,2.0,Yes,33507197,Female,09-Sep-66,RI,165-519-4583,Gold,1
14,74165873,99103685,Other driver error,01/13/2018,Home,No,Material only,1495.0,1.0,Yes,99103685,Female,30-Dec-85,KY,764-439-9856,Gold,1
15,28564401,51583214,Other driver error,12/10/2017,Auto,Unknown,Material and injury,16690.0,1.0,No,51583214,Male,31-Oct-99,NH,743-486-5264,Platinum,1
16,72738047,35875366,Other driver error,04/24/2018,Auto,Unknown,Material only,1870.0,1.0,No,35875366,Male,16-Sep-90,MD,954-964-1746,Platinum,1
17,53780662,21240703,Other driver error,09/19/2018,Auto,Unknown,Material only,1050.0,1.0,No,21240703,Male,22-Jul-63,MD,473-561-2675,Silver,1
18,67257404,18288638,Other driver error,04/24/2018,Auto,Yes,Injury only,32560.0,1.0,No,18288638,Female,14-Jan-69,MI,314-135-1359,Platinum,0
19,35489765,63240241,Natural causes,10/03/2018,Auto,No,Material only,2870.0,1.0,No,63240241,Male,26-Jul-77,ME,843-379-4796,Silver,1

In [94]:
# Assuming 'customer_id' is the column containing unique customer IDs
# Assuming 'claim_date' is the column containing the date of the claim (to determine the most recent observation)

# Convert 'claim_date' to datetime if it's not already in datetime format
merged_data['claim_date'] = pd.to_datetime(merged_data['claim_date'])

# Sort the DataFrame by 'customer_id' and 'claim_date' in descending order
merged_data.sort_values(['customer_id', 'claim_date'], ascending=[False,True], inplace=True)

# Drop duplicates based on 'customer_id', keeping the most recent observation
merged_data.drop_duplicates('customer_id', keep='last', inplace=True)

# Display the updated DataFrame
merged_data.head(11)

,claim_id,customer_id,incident_cause,claim_date,claim_area,police_report,claim_type,claim_amount,total_policy_claims,fraudulent,CUST_ID,gender,DateOfBirth,State,Contact,Segment,alert
747,47262068,99961993,Driver error,2018-10-23,Home,No,Material only,2310.0,1.0,No,99961993,Male,10-Jun-95,AL,234-943-2876,Platinum,1
936,22960702,99892000,Driver error,2017-11-13,Auto,No,Material only,2415.0,2.0,Yes,99892000,Male,08-Jun-95,OR,395-246-6172,Gold,1
72,37305754,99761663,Natural causes,2018-04-04,Auto,No,Material only,1242.0,1.0,Yes,99761663,Female,18-Nov-63,NC,643-246-4718,Silver,1
999,35453672,99723844,Natural causes,2018-01-06,Auto,Yes,Material and injury,14360.0,1.0,No,99723844,Female,19-Jun-66,HI,457-752-1374,Gold,0
698,4549014,99674324,Other causes,2018-07-07,Auto,No,Injury only,21480.0,1.0,No,99674324,Male,28-Jan-65,UT,517-562-4916,Silver,1
965,1249826,99170243,Other driver error,2017-01-21,Auto,No,Material only,2260.0,1.0,No,99170243,Male,03-Aug-93,OH,534-435-2968,Platinum,1
14,74165873,99103685,Other driver error,2018-01-13,Home,No,Material only,1495.0,1.0,Yes,99103685,Female,30-Dec-85,KY,764-439-9856,Gold,1
193,17871003,98905793,Other driver error,2018-09-19,Auto,Unknown,Material only,3139.5,3.0,Yes,98905793,Female,11-Nov-93,ID,823-482-5839,Platinum,1
532,70156112,98537509,Driver error,2018-06-03,Auto,Unknown,Material and injury,20033.0,3.0,Yes,98537509,Female,10-Sep-89,NJ,342-312-9723,Gold,1
963,35136402,98401399,Natural causes,2018-09-06,Auto,Unknown,Injury only,24900.0,1.0,No,98401399,Female,07-Oct-68,IA,219-593-1674,Silver,1
461,84019240,98341654,Crime,2017-12-03,Auto,Unknown,Material only,2370.0,1.0,No,98341654,Male,16-Dec-97,NH,375-624-6749,Platinum,1

In [103]:
# Step 1: Check for missing values
missing_values = merged_data.isnull().sum()

# Step 2: Impute missing values
for column in merged_data.columns:
    if merged_data[column].dtype == 'float64' or merged_data[column].dtype == 'int64':
        # Impute missing values with the mean for continuous variables
        merged_data[column].fillna(merged_data[column].mean(), inplace=True)
    elif merged_data[column].dtype == 'object':
        # Check if there are missing values before imputing with the mode for categorical variables
        if merged_data[column].isnull().any():
            merged_data[column].fillna(merged_data[column].mode()[0], inplace=True)

# Display the updated DataFrame
merged_data.head(2)

,claim_id,customer_id,incident_cause,claim_date,claim_area,police_report,claim_type,claim_amount,total_policy_claims,fraudulent,CUST_ID,gender,DateOfBirth,State,Contact,Segment,alert
747,47262068,99961993,Driver error,2018-10-23,Home,No,Material only,2310.0,1.0,No,99961993,Male,10-Jun-95,AL,234-943-2876,Platinum,1
936,22960702,99892000,Driver error,2017-11-13,Auto,No,Material only,2415.0,2.0,Yes,99892000,Male,08-Jun-95,OR,395-246-6172,Gold,1